<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html>
<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
	<!--<meta http-equiv="Content-Script-Type" content="text/javascript; charset=utf-8">-->
  <title>toplumektup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%#= stylesheet_link_tag :all %>
  <%#= stylesheet_link_tag 'bootstrap' %>
  <%#= stylesheet_link_tag 'jquery-ui' %>
    <%#= javascript_include_tag 'jquery-ui-1.10.2' %> <%# bunu sitesinden oluşturdum ama çok büyük çünkü hepsini seçtim akordiyon dahil, bir de ui jqueryden sonra gelir sıralamada. http://rorandme.blogspot.com/2012/05/rails-3-and-jquery-accordion.html %>
  <%#= javascript_include_tag :defaults %>
  <%# http://stackoverflow.com/questions/7618908/ruby-on-rails-javascript-include-tag-defaults %>
  <%# http://stackoverflow.com/questions/10218587/twitter-bootstrap-drop-down-suddenly-not-working %>

  <%#= javascript_include_tag 'jquery' %>
  <%#= javascript_include_tag 'bootstrap' %>
  <%#= javascript_include_tag 'tiny_mce/tiny_mce' %>
  <%= yield :javascript_yertutucum %><%# http://stackoverflow.com/questions/602147/javascript-file-per-view-in-rails , http://stackoverflow.com/questions/3437585/best-way-to-add-page-specific-javascript-in-a-rails-3-app%>
  <%# http://www.tinymce.com/forum/viewtopic.php?id=26573 tinymce utf8 encoding /** entity_encoding : "raw", **/%>


<script>
// http://www.alfajango.com/blog/rails-prototype-to-jquery/  prototype dispatchevent is not a function rails jquery ile anlaşmaları için $ yerine $j yazacağız jquerylerde bunu aşağıda belirtiyoruz

  // this allows jquery to be called along with scriptaculous and YUI without any conflicts
  // the only difference is all jquery functions should be called with $j instead of $
  // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
 // var $j = jQuery.noConflict();
</script>



<script type="text/javascript" >

tinyMCE.init({
        mode : "textareas",
        editor_deselector : "mceNoEditor",
		entity_encoding : "raw",
        theme : "advanced"   //(n.b. no trailing comma, this will be critical as you experiment later)
});

</script >



<script type="text/javascript" >
$j('#myCarousel').carousel({
    interval: 2000
}); // slide periyodu icin ms cinsinden

$j('#myCarousel').carousel('cycle'); // otomatik baslamasi icin ama nedense ise yaramiyor

</script>





<style>
.chk-box{
vertical-align: middle;
/* margin-right:5px; */
}
</style>


<style>
/* http://railscasts.com/episodes/228-sortable-table-columns */
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

</style>

 <style>
#akordiyon-resizer {
padding: 10px;
width: 350px;
height: 220px;
}
</style>

			<script language="javascript">
			//http://jqueryui.com/accordion/#fillspace
			// heightStyle content yaparsan her akordiyon kendi içindeki yüksekliğe göre açılır.
			// hiç belirtmezsen en yüksek içeriğe göre olur hepsi ve çirkin.
			// fill yaparsan ve resizable için aşağıdaki ikinci ve üçüncü fonsiyou ekleyip yukarıdaki styleı da eklersen o zaman hem tanımladığın sabit yükseklikte olurlar hem de yüksekliği geçerse sağında scrollbar çıkar.
			// collapsible true yaptık ki sayfa ilk yüklendiğinde hepsi kapalı görünümde olsun. yoksa ilki açık olur.
			$j(function() {
				$j( ".akordiyon" ).accordion({
				header: '.akordiyonitem',
				//heightStyle: "content"
				heightStyle: "fill",
				collapsible: true,
				alwaysOpen: true,
				//active: false
				});
			});
			$j(function() {
			$j( "#akordiyon-resizer" ).resizable({
			minHeight: 240,
			minWidth: 200,
			resize: function() {
			$j( ".akordiyon" ).accordion( "refresh" );
			}
			});
			});
			</script>
<script language="javascript">
// http://www.alfajango.com/blog/rails-prototype-to-jquery/  prototype dispatchevent is not a function rails jquery ile anlaşmaları için
$j(document).ready(function() {
    $j('#btnRight').click(function(e) {
        var selectedOpts = $j('#group option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $j('#groupn').append($j(selectedOpts).clone());
        $(selectedOpts).remove();
        e.preventDefault();
    });

    $j('#btnLeft').click(function(e) {
        var selectedOpts = $j('#groupn option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $j('#group').append($j(selectedOpts).clone());
        $j(selectedOpts).remove();
        e.preventDefault();
    });
});
//http://jquerybyexample.blogspot.com/2012/05/how-to-move-items-between-listbox-using.html
</script>



  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/">TopluMektup</a>
						<ul class="nav">
							<li class="divider-vertical"></li>
							<!-- <li><a href="">Gruplara mesaj göndermeyi kolaylaştırır.</a></li> -->
							<li>


										<% if !current_page?(log_in_path) %>
											<%# if current_user %>

												<%#= link_to "#{current_user.email} (oturumu kapat)", log_out_path %>
											<%# else %>
												<%#= link_to "Sign up", sign_up_path %>
												<%#= link_to "Oturum Aç", log_in_path %>
											<%# end %>
										<% end %>


							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8">

										<% flash.each do |name, msg| %>
										<%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-info" %>
										<% end %>

		</div>
	</div>

	<div class="row">
		<div class="span8">
			<%= yield %>
		</div>
		<!-- <div class="span4"> -->





			<%#= yield :sag_taraf %>
		<!-- </div>	-->


	</div>
</div>
</body>
</html>