<tr style="font-family: Helvetica,Arial,sans-serif;" align="center">
	<td colspan="2" rowspan="1">



<!-- BAŞLADI Carousel-->
	
    <div id="myCarousel" class="carousel slide">
    <!-- <ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
    </ol> -->
    <!-- Carousel items -->
    <div class="carousel-inner">
		<div class="active item">
			<%= image_tag "slider/1.jpg" %>
			<div class="carousel-caption">
				<h4><%= link_to "Toplu Mektup", "/" %></h4>
				<p>Kolay anlaşılır arayüzüyle hemen kullanmaya başlayın.</p>
			</div>
		</div>	
		<div class="item">
			<%= image_tag "slider/2.jpg" %>
			<div class="carousel-caption">
				<h4><%= link_to "Email Kuyruğu", email_queues_path %></h4>
				<p>Email kuyruğu ile gidecek emailleri takip edin.</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag "slider/3.jpg" %>
			<div class="carousel-caption">
				<h4><%= link_to "Gruplar", groups_path %></h4>
				<p>Dilediğiniz kadar grup oluşturun ve kişiler ekleyin.</p>
			</div>	
		</div>
		<div class="item">
			<%= image_tag "slider/4.jpg" %>
			<div class="carousel-caption">
				<h4><%= link_to "Mesajlar", messages_path %></h4>
				<p>WSIWYG olarak mesajlarınızı hazırlayın.</p>
			</div>		
		</div>
		<div class="item">
			<%= image_tag "slider/5.jpg" %>
			<div class="carousel-caption">
				<h4><%= link_to "Görevler", tasks_path %></h4>
				<p>Toplu mail görevleri oluşturup istediğiniz tarihe zamanlayın.</p>
			</div>		
		</div>		
    </div>
	
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
	
	<!-- BİTTİ Carousel-->



	
	<!-- <h1><%#= image_tag 'icons/toplumektup.png', :class => 'pull-left' %>TOPLUMEKTUP MASS MAILING</h1> -->


</td></tr>