<tr>
<td>
<%= image_tag "icons/48/text-x-log.png" %>
Geçmiş gönderimleriniz hakkında detaylı bilgi edinin.<br><a href="" title="">Reports</a>
</td>
<td>
<%= image_tag "icons/48/utilities-file-archiver-3.png" %>
Arşive alınmış mesajları, grupları, kişileri görün.<br><a href="" title="">Archive</a>
</td>
</tr>

<tr>
<td>
<%= image_tag "icons/48/system-settings.png" %>
Yazılım ayarlarınızı yapın.<br><a href="settings.php" title="">Settings</a>
</td>
<td>
<%= image_tag "icons/48/document-save-2.png" %>
Veritabanının yedeğini bilgisayarınıza indirin.<br><a href="backupdatabase.php" title="">Backup</a>
</td>
</tr>

<tr>
<td>
<%= image_tag "icons/48/help-about-3.png"%>
Yazılım hakkında bilgi edinin.<br><a href="" title="">About</a>
</td>
<td>
<%= image_tag "icons/48/system-exit.png" %>
Yazılımdan çıkış&nbsp;yapın.<br><a href="" title="">Exit</a>
</td>